@charset "Utf-8";

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 960px/*720px*/;
    margin: 0 auto;
    background: #fff url(../imagens/coluna.png) repeat-y left top;
    min-width: 720px;
    /*max-width: 960px;*/
}

#marca {
    width: 100%;
    height: 200px;
    background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

/*#imagem {
    width: 90%;
    overflow: hidden;
}*/

#conteudo {
    width: 75%;/*520px -> 75%*/
    float: right;
}

#navegacao {
    width: 23%;/*180px -> 25%*/
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background: #d1d1d1;*/
}

#conteudo-principal {
    width: 63%; /*320px -> 64%*/
    float: left;
}

img.img-noticia {
    width: 94%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-segundario {
    width: 33%; /*180px -> 36%*/
    float: right;
    background: #d1d1d1;
}

#conteudo-segundario h1,
#conteudo-segundario h2,
#conteudo-segundario h3,
#conteudo-segundario p {
    padding-left: 20px;
    padding-right: 20px;
}


#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}