@charset "Utf-8";

/* Configurações padrões 
------------------------------*/
body, html {
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
    width: 100%;
}

.conteudo {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
    font-size: 1.2em;
}

p {
    margin-bottom: 20px;
}

/*Efeito Parallaz
--------------------------------------*/
.caixa1, .caixa2, .caixa3, .caixa4 {
    height: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.caixa1 {
    background-image: url(../imagens/imagem1.jpg);
    
}

.caixa2 {
    background-image: url(../imagens/imagem2.jpg);
}

.caixa3 {
    background-image: url(../imagens/imagem3.jpg);
}

.caixa4 {
    background-image: url(../imagens/imagem4.jpg);
}