@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

/*CONFIGURAÇÃO TOPO/LOGO*/

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

/*BARRA DE NAVEGAÇÃO*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#top ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

/*CONFIGURAÇÃO LAYOUT DE TRÊS COLUNAS*/
#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
    background: blue;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
    background: green;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
    background: yellow;
}

/*ESTILIZAÇÃO DO RODAPE*/

#container-rodape {
    background: #294c71;
    padding: 20px;
    clear: both;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}